<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button deafaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>New Offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content">
  <ion-list>
    <ion-item lines="full">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        Toggle Dark Theme
      </ion-label>
      <ion-toggle slot="end" (click)="togglebtn()"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>